p,
section,
dd {
    margin-bottom: var(--s);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--wichtig);
    color: var(--darker);
    margin-bottom: var(--l);
}

h1,
h2 {
    padding-bottom: 0.1rem;
    margin-bottom: var(--l);
    font-size: var(--xl);
}

h2 {
    border-bottom: 2px solid var(--dark);
    color: var(--dark);
}

h3,
dt {
    font-size: var(--l);
}

main,
footer,
article {
    max-width: var(--normal);
    margin-bottom: var(--xl);
    font-family: var(--font-normal);
    color: var(--dark);
    line-height: var(--lh-normal);
    padding: var(--xs);
}

img {
    max-width: var(--voll);
}

h1,
h2,
h3 {
    font-family: var(--font-serif);
}

blockquote {
    max-width: var(--weit);
    font-weight: bolder;
    color: var(--accenttext);
    font-style: italic;
}

figcaption {
    font-style: italic;
    align-self: center;
    font-size: var(--xs);
}

table {
    border-collapse: collapse;
    padding-bottom: var(--xxl);
}

th {
    padding: 1rem;
    text-align: center;
    background-color: var(--accenttext);
}

td {
    padding: 1rem;
    border: 1px solid var(--background);
    text-align: center;
}

tr:nth-child(even) {
    background-color: var(--accentalpha);
}

cite {
    font-size: smaller;
    font-style: italic;
}

figure {
    max-width: 54rem;
    padding-bottom: var(--s);
}

dt {
    padding-bottom: var(--xs);
    color: var(--darker);
    max-width: var(--normal);
}

fieldset {
    padding-bottom: var(--s);
}

textarea {
    padding: var(--s)
}

header {
    max-width: var(--normal);
}

dl {
    padding-bottom: var(--s);
}

form {
    margin: 0 auto;
    width: var(--weit);
    padding: 5%;
    border: 1px solid var(--accent);
    border-radius: 1em;
}

input[type="text"],
input[type="email"],
textarea {
    font-size: var(--m);
    border: 1px solid var(--accent);
    background-color: var(--lighter);
    font-family: inherit;
    font-weight: var(--vw-normal);
    display: block;
    width: var(--normal);
}

label {
    display: block;
    text-align: left;
    color: var(--dark);
}

input[type="submit"],
input[type="reset"],
input[type="file"] {
    font-size: var(--m);
    border: 1px solid var(--accent);
    background-color: var(--lighter);
    font-family: inherit;
    font-weight: var(--vw-normal);
    display: block;
    width: var(--normal);
}

textarea {
    vertical-align: top;
    height: 5em;
}

input:focus,
textarea:focus {
    border-color: var(--accent);
}

p {
    max-width: var(--weit);
}

i {
    font-style: italic;
}

b {
    font-weight: var(--megawichtig);
}